<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.omnichange"
    android:versionCode="36"
    android:versionName="3.15" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion='25'
              android:targetSdkVersion='25' />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@android:color/transparent"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" 
        android:supportsRtl="false">
        
        <activity
            android:name=".OmniMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.bytehamster.changelog.Preferences"
            android:label="@string/settings"
            android:theme="@style/Theme.MyTheme" />
        
    </application>

</manifest>
